@model List<TuPrecio.Models.Article>
@{
    ViewBag.Title = "Index";
}


@if (Model == null || !Model.Any())
{
    <h2>No results!</h2>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th width="150">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Article", new { id = a.Id })">@a.Name</a></td>
                    <td>@a.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
